<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>RWBY Universe Team Name Generator</title>
        
    </head>

    <body>
        <h1>RWBY Universe Team Name Generator</h1>
        <p>
            RWBY is an animated series created by <a href="https://roosterteeth.com/">Rooster Teeth</a>. In its universe, characters are assigned a team of four, and the team name is
            <ul>
                <li>a color/associated with a color/reminds you of a color</li>
                <li>formed using the first letters of the first (sometimes last) names of the characters</li>
            </ul>
            For example, <b>R</b>uby Rose, <b>W</b>eiss Schnee, <b>B</b>lake Belladonna, and <b>Y</b>ang Xiao Long form Team RWBY ("Ruby"). From this, we also see that some letter substitutions are allowed. From JNPR, CRDL, and BRNZ, we also learn that last names are allowed to be used in place of first names.

            All of the known team names:
            <ul>
                <li><a href="rwby.wikia.com/wiki/RWBY_(team)">RWBY ("Ruby")</a>: Ruby Rose, Weiss Schnee, Blake Belladonna, Yang Xiao Long</li>
                <li><a href="rwby.wikia.com/wiki/JNPR">JNPR ("Juniper")</a>: Jaune Arc, Nora Valkerie, Pyrrha Nikos, Lie Ren</li>
                <li><a href="rwby.wikia.com/wiki/CRDL">CRDL ("Cardinal")</a>: Cardin Winchester, Russel Thrush, Dove Bronzewing, Sky Lark</li>
                <li><a href="rwby.wikia.com/wiki/CFVY">CFVY ("Coffee")</a>: Coco Adel, Fox Alistair, Velvet Scarletina, Yatsuhashi Dashi</li>
                <li><a href="rwby.wikia.com/wiki/SSSN">SSSN ("Sun")</a>: Sun Wukong, Scarlet David, Sage Ayana, Neptune Vasilias</li>
                <li><a href="rwby.wikia.com/wiki/ABRN">ABRN ("Auburn")</a>: Arslan Altan, Bolin Hori, Reese Chloris, Nadir Shiko</li>
                <li><a href="rwby.wikia.com/wiki/BRNZ">BRNZ ("Bronze")</a>: Brawnz Ni, Roy Stallion, Nolan Porfrio, May Zedong</li>
                <li><a href="rwby.wikia.com/wiki/CRDL">FNKI ("Funky")</a>: Flynt Coal, Neon Katt, ...</li>
                <li><a href="rwby.wikia.com/wiki/STRQ">STRQ ("Stark")</a>: Summer Rose, Taiyang Xiao Long, Raven Branwen, Qrow Branwen</li>
            </ul>

            <a href="rwby.wikia.com/wiki/Penny%27s_Team">Penny's team</a> (Penny Polendina, Ciel Soleil, ...) and <a href="rwby.wikia.com/wiki/Cinder%27s_Faction">Cinder's team</a> (Cinder Fall, Mercury Black, Emerald Sustrai, Neopolitan) are not given names in the show, though the latter is sometimes referred to as "CMNE" ("Carmine") or "CMSN" ("Crimson") by the fans.
        </p>

        <p>
            Here, you can generate a list of possible team names given a list of characters. If you only want to use first names, leave the last name box blank. <br>
            
            To simply generate a handful of random team names, leave all boxes blank. (In other cases, <i>all</i> matches are returned.)<br>
            
            Any returned color is guaranteed to contain all of the letters of the team name, but it's definitely not guaranteed to be pronounced anything like the team name would indicate. This list is also not comprehensive.
        </p>

        <form action="" method="post">
            <table>
                <thead>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </thead>

                <tr>
                    <th>Character 1</th>
                    <td><input type="text" name="char1_first"></td>
                    <td><input type="text" name="char1_last"></td>
                    <td><input type="checkbox" name="fix_leader" value="fix"> Must be leader?</td>
                </tr>

                <tr>
                    <th>Character 2</th>
                    <td><input type="text" name="char2_first"></td>
                    <td><input type="text" name="char2_last"></td>
                </tr>

                <tr>
                    <th>Character 3</th>
                    <td><input type="text" name="char3_first"></td>
                    <td><input type="text" name="char3_last"></td>
                </tr>

                <tr>
                    <th>Character 4</th>
                    <td><input type="text" name="char4_first"></td>
                    <td><input type="text" name="char4_last"></td>
                </tr>

                <tr>
                    <th></th>
                    <td></td>
                    <td><button>Generate</button></td>
                </tr>
            </table>
        </form>

        {% if options_nosub %}
            <b>Options without letter substitions:</b>
            <ul>
                {% for opt in options_nosub %}
                    <li>{{ opt.team }} ({{ opt.name }} <font color={{opt.hexstring}}>= {{ opt.hexstring }}</font>)</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if options_withsub %}
            <b>Options with letter substitions ({{ allowed_subs }}):</b>
            <ul>
                {% for opt in options_withsub %}
                <li>{{ opt.team }} ({{ opt.name }} <font color={{opt.hexstring}}>= {{ opt.hexstring }}</font>)</li>
                {% endfor %}
            </ul>
        {% endif %}

        Color data taken from <a href="https://github.com/meodai/color-names">this API</a>.
    </body>

</html>